<div id="about" class=" d-flex container-fluid bg-sky justify-content-center p-5">
    <div class="row pb-5 gy-2  d-flex justify-content-center">
        <div class=" col-12 col-sm-11 col-md-6 col-lg-6 justify-content-center align-self-center">
            <p class="fs-6 fw-bold">
                Become Master
            </p>
            <p class="fs-2 lh-sm font-serif font-serif">
                Learn New Skills Online <br> Find Best Courses
            </p>
            <button mat-button class="rounded font-Roboto fw-light bg-warning font-Roboto  font-14">
                Get A Quote
            </button>
            <button mat-button class="ms-1 rounded font-Roboto fw-light bg-white font-Roboto font-14">
                Read more
            </button>
        </div>

        <div class=" col-7 col-sm-7 col-md-6 col-xl-6 d-flex justify-content-center">
            <img class="img-fluid" src="assets/header.png" alt="header">

        </div>
    </div>

</div>