<div class="container-fluid p-0 bg-DarkNavyBlue text-white">
    <div class="row d-flex justify-content-start ps-3 py-3 p-md-5">
        <div class="col col-md-5">
            <div class="d-flex  align-items-center mb-4 m-0">
                <img src="assets/book.png" width="20%" class="" alt="book">
                <p class=" ms-2" href="#">For education</p>

            </div>
            <div *ngFor="let item of meetUsList" class="d-flex my-4 align-items-center">
                <img [src]="item.src" [alt]="item.alt">
                <p class="m-0 ms-1 font-size-m">{{item.content}}</p>

            </div>

        </div>
        <div class="col col-md-2">
            <p class="font-weight-500">Community</p>
            <p class="font-size-m" *ngFor="let item of community">{{item}}</p>
        </div>
        <div class="col col-md-2">
            <p class="font-weight-500">Informations</p>
            <p class="font-size-m" *ngFor="let item of informations">{{item}}</p>
        </div>
        <div class="col col-md-2">
            <p class="font-weight-500">More</p>
            <p class="font-size-m" *ngFor="let item of more">{{item}}</p>
        </div>
    </div>
    <div class="row p-1 m-0 d-flex justify-content-center">
        <div class="col-12 col-md-8 bg-warning d-flex justify-content-between">
            <div class="col-auto ms-2 font-size-x text-black d-flex align-items-center">
                Copyright &copy; 2021 Tung Chi Vo
            </div>
            <div class="d-flex p-0 ">
                <button *ngFor="let socialImage of socialImages" [matTooltip]="socialImage.tooltip"
                    matTooltipPosition="below" mat-icon-button class="img-fluid px-md-1" style="width: auto;">
                    <img [src]="socialImage.src" [alt]="socialImage.tooltip">
                </button>

            </div>

        </div>
    </div>
</div>