<div id="contact" class="container p-2 p-md-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-4 col-md-3">
            <img class="img-fluid" src="assets/img15.png" alt="recruting">
        </div>
        <div class="col-md-8 col-lg-6 col-12 d-flex flex-column text-md-start mt-md-0 mt-3 text-center">
            <div class="col-12 text-warning">
                Subscrible now
            </div>
            <div class="col-12 fs-1 lh-sm font-serif fw-bold text-NavyBlue">
                Get every single update you will get
            </div>
            <div class="col-12 d-flex border-secondary  rounded p-2 align-items-center">

                <div class="input-group">
                    <span class="input-group-text p-1 bg-white">
                        <mat-icon>mail</mat-icon>
                    </span>
                    <input style="font-size:1rem ;" placeholder="Enter Email Address" type="text"
                        class="form-control  border-end-0 border-start-0">
                    <span class="input-group-text bg-white p-1 ">
                        <button mat-button class="rounded font-Roboto fw-light bg-warning font-Roboto  font-14">
                            Subscrible now
                        </button>
                    </span>
                </div>



            </div>
        </div>
    </div>
</div>