<div style="height: 15vh;margin-top: -8vh;" class="container-fluid ">
    <div class="row d-flex justify-content-center h-100 m-0 p-0">
        <div class=" col-12 col-md-8 rounded-4 bg-DarkNavyBlue h-100">
            <div class="row  h-100 m-0 p-0">
                <div class="col-auto col-md-2  h-100">
                    <img class="img-fluid h-100" src="assets/topBody.png" alt="top body">
                </div>
                <div class="col h-100 px-1 lh-sm d-flex align-items-center">
                    <p style="font-size: 2.0vw;" class="text-white m-0   fw-bold font-serif">Upcoming Our
                        <span class="text-warning">Basic in <br> Python </span> Course!
                    </p>
                </div>
                <div class="col mx-auto px-0 justify-content-end h-100  d-flex  align-items-center text-white
                timer-font-size font-weight-500 
                ">
                    <div class="col-3 ">
                        <div class="row m-0 ">
                            <div class="col d-flex justify-content-center p-0"> {{days}}</div>
                            <div class="col d-flex justify-content-center px-1">:</div>
                            <div class="w-100"></div>
                            <div class="col-6  d-flex justify-content-center  p-0 pt-1 font-size-x-responsive">
                                Days
                            </div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="row m-0">
                            <div class="col d-flex justify-content-center p-0"> {{hours}}</div>
                            <div class="col d-flex justify-content-center px-0">:</div>
                            <div class="w-100"></div>
                            <div class="col-6  d-flex justify-content-center p-0 pt-1 font-size-x-responsive">
                                Hours
                            </div>
                        </div>

                    </div>
                    <div class="col-3 ">
                        <div class="row m-0">
                            <div class="col d-flex justify-content-center p-0"> {{minutes}}</div>
                            <div class="col d-flex justify-content-center px-1">:</div>
                            <div class="w-100"></div>
                            <div class="col-6  d-flex justify-content-center p-0 pt-1 font-size-x-responsive">
                                Minutes</div>
                        </div>

                    </div>
                    <div class="col-3  ">
                        <div class="row m-0">
                            <div class="col-auto d-flex  p-0"> {{seconds}}</div>
                            <div class="w-100"></div>
                            <div class="col-auto pt-1 p-0 font-size-x-responsive">Seconds</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>